header {
  background-color: #eeeeee;
  padding: 40px 120px;
  display: flex;
  justify-content: space-between;
}

header :is(h1, h6){
    margin: 0;
}

.header-title h1{
    font-size: 72px;
}

.header-title h6{
    font-size: 20px;
    margin-top: 10px;
}


header .logout-btn > button{
    padding: 10px;
    outline: none;
    border: none;
    border-radius: 4px;
    background-color: #CD4E4A;
    color:#fefefe;
}

.container{
    max-width: 1300px;
    width: 100%;
    margin: 0 auto;
}

.container > h1{
    border-bottom: 1px solid #e6dede;
    color: #333;
}

form{
    margin-left: 100px;
}

.form-control{
    margin: 16px 0;
    display: flex;
    align-items: center;
}

.form-control label{
    width: 100px;
    margin-right: 10px;
}

.form-control textarea{
    resize: none;
}

.btn-submit{
    margin-left: 110px;
    border: none;
    outline: none;
    padding: 5px 10px;
    color: #fefefe;
    background-color: #428BCA;
    border-radius: 4px;
}