header {
  background-color: #eeeeee;
  padding: 40px 120px;
  display: flex;
  justify-content: space-between;
}

.header-title h1 {
  font-size: 72px;
}

header :is(h1, h6) {
  margin: 0;
}

.header-title h1 {
  font-size: 72px;
}
